<div *ngIf="tip == 'dodajBtn'" fxLayout="column">
  <mat-icon class="close-btn" mat-dialog-close>highlight_off</mat-icon>
  <form fxLayout="column" [formGroup]="forma">
    <label class="labela" for="ime">Ime:</label>
    <input
      type="text"
      autocomplete="off"
      spellcheck="false"
      formControlName="Ime"
      name="ime"
      class="polje"
    />
    <label for="velicina" class="labela">Velicina:</label>
    <input
      type="text"
      spellcheck="false"
      autocomplete="off"
      formControlName="Velicina"
      name="velicina"
      class="polje"
    />
    <label for="cena" class="labela">Cena:</label>
    <input
      type="number"
      autocomplete="off"
      spellcheck="false"
      name="cena"
      formControlName="Cena"
      class="polje"
    />
    <label for="sastojci" class="labela">Sastojci:</label>
    <input
      type="text"
      autocomplete="off"
      spellcheck="false"
      name="sastojci"
      formControlName="Sastojci"
      class="polje"
    />
    <button
      class="dugme"
      id="dodaj-button"
      (click)="DodajProizvod()"
      [disabled]="dodavanje"
    >
      Dodaj proizvod
    </button>
  </form>
</div>
<div *ngIf="tip == 'editujBtn'" fxLayout="column">
  <mat-icon class="close-btn" mat-dialog-close>highlight_off</mat-icon>

  <form fxLayout="column" [formGroup]="forma1">
    <label class="labela">Ime:</label>
    <input
      type="text"
      spellcheck="false"
      value="{{ pica.ime }}"
      formControlName="Ime"
      class="polje"
    />
    <label class="labela">Velicina:</label>
    <input
      type="text"
      spellcheck="false"
      value="{{ pica.velicina }}"
      formControlName="Velicina"
      class="polje"
    />
    <label class="labela">Cena:</label>
    <input
      type="number"
      spellcheck="false"
      value="{{ pica.cena }}"
      name="cena"
      formControlName="Cena"
      class="polje"
    />
    <label for="sastojci" class="labela">Sastojci:</label>
    <input
      type="text"
      spellcheck="false"
      value="{{ pica.sastojci }}"
      name="sastojci"
      formControlName="Sastojci"
      class="polje"
    />
    <button class="dugme" (click)="IzmjeniProizvod()" [disabled]="dodavanje">
      Izmjeni proizvod
    </button>
  </form>
</div>
