<!-- <div fxLayout="row wrap" fxLayoutAlign="space-between">
  <div *ngFor="let pica of pice">
    <div class="kontajner">
      <p>
        {{ pica.naziv }}
      </p>
      <p>{{ pica.velicina }}</p>
      <p>{{ pica.cena }}</p>
    </div>
  </div>
</div> -->
<div class="content">
  <div fxLayout="row wrap" fxLayoutAlign="space-around" fxLayoutGap="16px grid">
    <div
      fxFlex="25%"
      fxFlex.xs="100%"
      fxFlex.sm="33.3%"
      *ngFor="let pica of pice"
    >
      <mat-card>
        <mat-card-header>{{ pica.ime }}</mat-card-header>
        <img mat-card-image src="../../assets/6560124.png" alt="" />
        <mat-card-content>
          <p>
            {{ pica.velicina }}
          </p>
          <p>
            {{ pica.cena }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
