.content {
  padding: 16px;
}
.dugme {
  margin-top: 15px;
  align-self: center;
}
.polje {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}
.labela {
  text-align: center;
}
.button {
  margin-top: 10px;
  color: white;
}
.div1 {
  background-color: rgb(68, 68, 193);
}
.div1 > div {
  margin-left: 10px;
  margin-right: 10px;
}
.prvi-kontajner {
  margin: 10px;
}
.kontajner {
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px rgb(68, 68, 193);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kontajner > h3 {
  margin: 0;
}
.kontajner > p {
  margin: 0;
}
.slika {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.slika > img {
  height: 50px;
}
.obrisi-edituj {
  display: flex;
  justify-content: center;
}

.kontajnerDodaj {
  height: 100%;
  display: flex;
  justify-items: center;
  padding: 10px;
  border-radius: 10px;
}
.kontajnerDodaj > button {
  width: 100%;
  border-radius: 10px;
}
