<div fxLayoutAlign="center">
  <div
    class="kontajner"
    ngClass.xs="kontajner-mali"
    fxLayout="column center"
    fxLayoutAlign="space-between"
  >
    <div fxLayout="row" fxLayoutGap="16px">
      <h3>Registracija</h3>
      <mat-icon>person_add_alt_1</mat-icon>
    </div>
    <form
      [formGroup]="forma"
      fxLayout="column"
      autocomplete="off"
      (ngSubmit)="Registracija()"
    >
      <div
        fxLayout="row"
        fxLayout.sm="column"
        fxLayoutGap="15px"
        fxLayoutGap.sm="0px"
      >
        <mat-form-field fxFlex="50%">
          <mat-label>Ime:</mat-label>
          <input type="text" matInput name="Ime" formControlName="Ime" />
        </mat-form-field>
        <!-- <label
            class="labela-upozorenje"
            *ngIf="forma.get('Ime')?.touched && forma.get('Ime')?.errors?.['required']"
          >
            Morate unjeti ime</label
          > -->
        <mat-form-field fxFlex="50%">
          <mat-label>Prezime:</mat-label>
          <input
            matInput
            type="text"
            name="prezime"
            formControlName="Prezime"
          />
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label>Username:</mat-label>
        <input
          matInput
          type="text"
          name="username"
          formControlName="Username"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email:</mat-label>
        <input matInput type="text" name="email" formControlName="Email" />
      </mat-form-field>
      <div
        fxLayout="row"
        fxLayout.sm="column"
        fxLayoutGap="15px"
        fxLayoutGap.sm="0px"
      >
        <mat-form-field fxFlex="50%">
          <mat-label>Password:</mat-label>
          <input
            matInput
            type="password"
            name="Password"
            formControlName="Password"
          />
        </mat-form-field>

        <mat-form-field fxFlex="50%">
          <mat-label>Confirm Password:</mat-label>
          <input
            matInput
            type="password"
            name="ConfirmPassword"
            formControlName="ConfirmPassword"
          />
        </mat-form-field>
        <!-- <mat-label
            class="labela-upozorenje"
            *ngIf="submitted && f['ConfirmPassword'].errors?.['Podudaranje']"
          >
            Lozinke se ne podudaraju</mat-label
          > -->
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="15px">
        <mat-form-field fxFlex="50%">
          <mat-label>Izaberite datum rodjenja </mat-label>
          <input
            matInput
            [matDatepicker]="izborDatuma"
            formControlName="DatumRodjenja"
            name="datumRodjenja"
          />
          <mat-datepicker-toggle
            [for]="izborDatuma"
            matSuffix
          ></mat-datepicker-toggle>
          <mat-datepicker #izborDatuma startView="multi-year"></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex="50%">
          <mat-label>Adresa:</mat-label>
          <input matInput type="text" name="adresa" formControlName="Adresa" />
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label>Tip korisnika:</mat-label>
        <input
          matInput
          type="text"
          name="tipKorisnika"
          formControlName="TipKorisnika"
        />
      </mat-form-field>
      <button mat-button class="btn" type="submit">Registrujte se</button>
    </form>

    <div>
      <p>Imate nalog? <a routerLink="../login">Prijavite se!</a></p>
    </div>
  </div>
</div>
